body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section,
main {
    margin: 10px
}

body>main {
    width: 70%;
    margin: auto;
}

body>header {
    padding: 10px;
    background-color: #FF5714;
    color: white;
}

header>nav {
    display: flex;
    justify-content: space-between;
}

section>hgroup {
    padding-left: 16px;
}

#top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Righteous', cursive;
}

.navbar-text {
    color: white;
    text-decoration: none;
    padding-right: 5px;
}

.avatar {
    width: 100px
}

footer {
    background-color: #FF5714;
    padding: 18px;
    text-align: center;
    color: white;
}

#top-bit {
    display: flex;
    width: 70%;
    margin: auto;
}

.breaking {
    display: flex;
    padding: 16px;
}

.breaking>img {
    padding-right: 10px;
}